body {
  background-color: black;
  overflow: hidden;
}

.container {
  perspective: 400px;
}

.item {
  color: yellow;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
  animation-name: subtitres;
  animation-duration: 30s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.text {
  text-align: left;
}

h1,
h2,
p {
  font-size: 40px;
  font-weight: bolder;
}

@keyframes subtitres {
  from {
    transform: rotateX(45deg) translateY(750px);
  }
  to {
    transform: rotateX(45deg) translateY(-500px);
  }
}
